<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hly.ssm.dao.UserDao">

    <sql id="selectUser" >user_register_id as userId ,user_nickname as userNickName ,user_password as userPassword</sql>

    <select id="selectUserById" parameterType="string" resultType="user">
        SELECT <include refid="selectUser"/> FROM [user] WHERE user_register_id = #{userId}
    </select>
</mapper>