* {
	margin: 0;
	padding: 0;	
}
html {   
	font-size: 10px;
}
body {
	font-family: Arial;
	background-color: #333;
}
.clearfix::after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

#wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	
}
header {
	height: 200px;
	background-image: url(images/header_bg.jpg);
	background-repeat: no-repeat;	
}	
header h1 {
	font-size: 6em;
	font-family: 'Times New Roman';
    font-style: italic;
	line-height: 180px;
	margin-left: 20px;
	color: #34576b;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#banner {
	width: 100%;
	height: 160px;
}
#menu {
	margin-top: 1px;	
	list-style-type: none;	
	height: 39px;
	line-height: 39px;
	background-color: rgba(255, 255, 255, 0.75);
	letter-spacing: 0;
	font-size: 0;
}
#menu li {
    color: #a12f15;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
	padding: 0 9px;	
	font-size: 1.2rem;
    cursor: pointer;
}
#menu li:hover {
	text-decoration: underline;
    color: #ef3a25;
    background-color: rgba(255, 255, 255, 0.85);
}
#menu li:last-child {
	border-right: none;
}
#main {
	width: 60%;
	float: left;	
}

.sidebar {
	width: 20%;
	float: left;	
}
.sidebar_right {
	color: white;
	background-color: #759bc9;
	margin: 1px;
	width: calc(20% - 2px);
	height: 700px;
	position: relative;
}
.sidebar_right div {
    font-size: 1.3em;
	padding: 0px 20px 0px;
	font-style: italic;
	text-align: center;
	margin-top: -4em;
	position: absolute;
	top: 50%;
	font-family: 'Book Antiqua';
}
.sidebar_left div {
	margin-top: 20px;
	text-align: center;
}
.sidebar_left input[type="text"], input[type="password"] {
	display: block;
	padding: 4px;
	width: 160px;
	border: 1px solid #999;
	border-radius: 3px;
	outline: 0;	
	font-size: 1.4em;
	line-height: 16px;
	height: 16px;
	margin: 0 auto 10px;
}
input[type="text"]:focus, input[type="password"]:focus {
	border: 1px solid #ff6418;
	
}
input[type="submit"] {
	background-color: #5e92f8;
	color: white;
	outline: none;
	border: none;
	border-radius: 12px;
	padding: 2px 10px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	cursor: pointer;
    font-size: 1.3em;
}
input[type="submit"]:hover {	
	color: orange;	
}
input[type="submit"]:active {
	color: red;	
	box-shadow: 0px 0px #999;
}
#footer {
	height: 100px;
	color: white;
	background-color: #ebaf67;
	padding: 0px 10px; 
	line-height: 80px;
}
#main h2 {
	font-size: 2.5em;
	padding: 5px 6px 9px;
	margin-top: 10px;
}

h3{
	font-size: 1.5em;
	padding: 2px 10px 5px;
}
.intro {
	padding: 5px;
    font-size: 1.4em;
}

.intro p{	
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	column-gap: 20px;
	text-align: justify;
	margin-bottom: 1em;
}
#gallary {
	padding: 5px;
}
#gallary img {
	display: block;
	float: left;
	width: calc( 33.3% - 13.3px);
	padding: 0 10px;
}
#gallary img:last-child {
	padding-right: 0;
}
#gallary img:first-child {
	padding-left: 0;
}
#table1 {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 5px auto;
}
#table1 th {
	background-color: #759bc9;
	color: white;
}
#table1 td, th {	
	padding: 3px 5px;
	border: 1px solid #666;
}	
#table1 tbody tr:nth-child(odd) {
	background-color: white;
}
#table1 tbody tr:nth-child(even) {
	background-color: #d8e5ff;
}
