<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--使用注解驱动,没有就不能扫描@Controller,就会出现404-->
    <mvc:annotation-driven/>
    <!--https://www.cnblogs.com/dflmg/p/6393416.html-->
    <mvc:default-servlet-handler/>
    <!--定义扫描装载的包-->
    <context:component-scan base-package="com.*"/>
    <!--定义视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>

    <!-- 开启事务,事物管理器 -->
    <!--这是管理事务的。你一个service可能写多条操作sql语句。当第一条成功了。第二条报错了。如果你没有事务。那么第一条sql语句就会生效。有了事务就可以回滚。保证同时成功或失败。最典型的就是银行的取钱。-->
    <!-- 开启事务,事物管理器 -->
    <!--这是管理事务的。你一个service可能写多条操作sql语句。当第一条成功了。第二条报错了。如果你没有事务。那么第一条sql语句就会生效。有了事务就可以回滚。保证同时成功或失败。最典型的就是银行的取钱。-->


    <!-- 开启@Transactional实现注解事务 -->
    <!--<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>-->



</beans>