<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--构造方法注入-->
    <!--https://docs.spring.io/spring-framework/docs/current/spring-framework-reference/core.html#beans-constructor-injection-->

    <!--根据类型注入-->
   <!-- <bean id="exampleBean" class="com.javahly.constructorBasedDependencyInjection.ExampleBean">
        <constructor-arg type="int" value="7500000"/>
        <constructor-arg type="java.lang.String" value="42"/>
    </bean>-->

    <!--根据参数下标注入-->
    <bean id="exampleBean" class="com.javahly.constructorBasedDependencyInjection.bean.ExampleBean">
        <constructor-arg index="0" value="7500000"/>
        <constructor-arg index="1" value="42"/>
    </bean>

</beans>